# =============================================================================
# C O P Y R I G H T
# -----------------------------------------------------------------------------
# Copyright (c) 2020 by Helmut Konrad Fahrendholz. All rights reserved.
# This file is property of Helmut Konrad Fahrendholz. Any unauthorized copy,
# use or distribution is an offensive act against international law and may
# be prosecuted under federal law. Its content is company confidential.
# =============================================================================

utila==2.15.0
iamraw==4.5.0
sections==0.13.5

# split sentences and determine language of written sentence
german==0.12.1
# some constants
konrad==0.3.0

geostrat==1.1.5
hey==5.5.3

# determine headline level
groupme==0.7.1
