# =============================================================================
# C O P Y R I G H T
# -----------------------------------------------------------------------------
# Copyright (c) 2020 by Helmut Konrad Fahrendholz. All rights reserved.
# This file is property of Helmut Konrad Fahrendholz. Any unauthorized copy,
# use or distribution is an offensive act against international law and may
# be prosecuted under federal law. Its content is company confidential.
# =============================================================================

utila==1.25.1
iamraw==1.27.2
sections==0.4.2
hey==3.2.0

# rawmaker online configuration
detector==0.3.1
# split sentences and determine language of written sentence
german==0.6.2
# some constants
konrad==0.2.19
