# =============================================================================
# C O P Y R I G H T
# -----------------------------------------------------------------------------
# Copyright (c) 2020 by Helmut Konrad Fahrendholz. All rights reserved.
# This file is property of Helmut Konrad Fahrendholz. Any unauthorized copy,
# use or distribution is an offensive act against international law and may
# be prosecuted under federal law. Its content is company confidential.
# =============================================================================

utila==2.10.0
iamraw==3.2.0
sections==0.9.7

# split sentences and determine language of written sentence
german==0.8.5
# some constants
konrad==0.2.22

geostrat==0.1.2
